@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.title {
  text-decoration: none;
  color: #907ff0 ;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #80e0f0 ;
  }
}

.page_title{
  background-color: #DFDAFA ;
  color:#2c3e50;
  height: 50px; 
  font-size: 1.2rem;
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom:  1rem;
  border-radius: 10% 50% 10% 50%/100% 100% 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
